[Desktop Entry]
Type=Application
Name=Secrets
Comment=Browse and edit keyring secrets
Exec=cce-secrets
Icon=cce-secrets
Categories=Utility;Security;
Terminal=false
StartupNotify=true
StartupWMClass=cce-secrets
